@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
  --main-gradient: linear-gradient(90deg, hsla(23, 99%, 55%, 1) 0%, hsla(278, 64%, 43%, 1) 100%);
}

.montserrat {
  font-family: "Montserrat", serif;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ========================================KEY FRAME ANIMATION====================================================== */
/* Animations de la page d'accueil */
@keyframes slideInDiagonal {
  0% {
    transform: translate(-100%, -100%);
  }
}

@keyframes slideInDiagonal2 {
  0% {
    transform: translate(100%, -100%);
  }
}

@keyframes slideInimage {
  0% {
    transform: translate(0%, 100%);
  }
}

@keyframes identifier2 {
  0% {
    transform: translate(-50%, -20%);
  }

  100% {
    transform: translate(-50%, 0%);
  }
}

@keyframes slide-gauche {
  0% {
    opacity: 0;
    transform: translate(100%, -100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.diagonal-line {
  animation: slideInDiagonal 3s ease-out forwards;
}

.diagonal-line2 {
  animation: slideInDiagonal2 3s ease-out forwards;
}

.pathanim {
  opacity: 0;
}

/*======================================== LA PAGE D'ACCUEIL ======================================================*/
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #121212;
  font-family: 'montserrat', sans-serif;
}

/* Section accueil en plein écran */
.accueil {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
}

.accueil svg {
  width: 100vw;
  height: 100vh;
}

.img_trophee {
  filter: drop-shadow(0px 4px 31.1px rgba(255, 255, 255, 0.3));
  animation: slideInimage 3s ease-out forwards;
}

.accueil h1 {
  font-weight: 800;
  position: absolute;
  top: 13%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 5.5rem;
  color: white;
  text-align: center;
  margin: 0;
  z-index: 1;
  width: 100vw;
}

.accueil p {
  font-weight: 700;
  position: absolute;
  top: 68.5%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  z-index: 1;
}

.h1viz {
  background-image: var(--main-gradient);

  /* permet d'afficher le dégradé sur le texte sur les navigateur Chrome, Safari, Opera (15+), iOS, Android */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* permet d'afficher le dégradé sur le texte sur le navigateur Firefox */
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.accueil img,
.accueil a {
  position: absolute;
  bottom: 10%;
  left: 50.6%;
  transform: translateX(-50%);
  animation: identifier2 0.5s infinite alternate;
}


/*======================================== DEUXIEME SECTION ======================================================*/
.srclogo {
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: end;
  padding: 10px;
  margin-right: 20px;
  position: relative;
  bottom: 110px;
  z-index: 1;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #121212;
}

.text-container {
  height: 50px;
  margin-left: 50px;
}

.titre2 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 800;
  position: relative;
  color: white;
}



.paragraphe-h2 {
  font-size: 1.125rem;
  font-weight: 300;
  color: white;
  position: relative;
  max-width: 700px;
  transition: all 0.5s ease;
}

.titre3 {
  font-size: 2rem;
  font-weight: bold;
}

.section2 a {
  position: relative;
  color: white;
  font-size: 1.25rem;
  font-weight: 800;
  transition: color 0.3s ease;
}

.section2 a:hover {
  color: #FE721B;
}

/* animation svg de la section2 */

.svg-animate.visible .pathanim:nth-child(1) {
  animation: slide-gauche 1s forwards;
}

.svg-animate.visible .pathanim:nth-child(2) {
  animation: slide-gauche 2s forwards;
}

.svg-animate.visible .img_coupe {
  animation: slide-gauche 3s forwards;
}

/* ============================ INFO JEUX GRAPHIQUE ========================== */
.infoJeux {
  height: 70vh;
  display: none;
  background-color: #121212;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 10px;
}

.gauche {
  flex: 1;
  color: white;
  padding: 100px;
}

.droite {
  font-size: 1.125rem;
  flex: 1;
  color: white;
  height: 270px;
}

.gauche img {
  width: 550px;
  height: 270px;
  width: 100%;
  border-radius: 5px;
}
.tick text {
  pointer-events: none;
}

/* ==================================================== Graphique ===================================================  */

.graph-top {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 90%;
  text-align: center;
  font-size: 3rem;
}

.graph-top h2 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  margin-bottom: 5px;
}

.graph-top p {
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 0;
}

.winner1 {
  fill: #FE721B !important;
}

.crown {
  fill: #FE721B;
  font-size: 2rem;
  font-weight: bold;
}

.infoGraphique {
  position: absolute;
  background-color: #5A5A5A;
  padding: 15px 25px;
  height: fit-content;
  border-radius: 16px;
  display: none;
  color: white;
  align-items: center;
  gap: 32px;
  width: 40%;
}

.infoGraphique div {
  width: 50%;
}

.infoGraphique div img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}




.data-name {
  font-weight: bold;
  color: #FE721B;
}

.bar {
  fill: #8F41CE;
  transition: opacity .5s;
  border-radius: 8px;
}

.bar:hover {
  opacity: 1 !important;
}

.infoJeux {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.game-title {
  color: #FE721B;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.infoJeux-text-bloc div {
  display: flex;
  justify-content: space-between;
}

.infoJeux-img-bloc img {
  width: 100%;
}

.infoJeux-img-bloc {
  width: 60%;
  overflow: hidden;
}
.border-img {
  height: 30px;
  width: 100%;
  background-color: #8F41CE;
  background-image: linear-gradient(90deg, hsla(23, 99%, 55%, 1) 0%, hsla(278, 64%, 43%, 1) 100%);
  position: relative;
  rotate: 45deg;
  right: 250px;
  bottom: 30px;
}

.border-img-2 {
  right: 150px;
}


.svgGraphique,
.svgGraphique2 {
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  height: 600px;

}

.graphique2 {
  margin-top: 150px;
}



.svgGraphique2 {
  height: 1000px;
  width: fit-content;
}

.input-bloc {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

  gap: 32px;
  justify-content: space-between;
  align-items: center;
}


.input-bloc div {
  background-color: var(--select-bg);
  padding: 15px 25px;
  border-radius: 32px;
  display: flex;
  gap: 16px;
  align-items: center;
}

/* partie commune */
input[type=range].rangeSelect {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--select-bg);
  height: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: var(--select-bg);
  height: 0.5rem;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -12px;
  /* Centers thumb on the track */
  background-color: #FE721B;
  border-radius: 16px;
  height: 2rem;
  width: 1rem;
}


.selectYears {

  color: #FE721B;
  font-size: 1.125rem;
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 15rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.7em center / 0.8em,
    linear-gradient(to left, var(--arrow-bg) 2em, var(--select-bg) 2em);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }

  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
    font-size: 2rem;
    transform: rotate(-20deg);
  }
}


.rangeSelectValue {
  height: fit-content;
  color: #FE721B;
  font-size: 1.125rem;
  font-weight: bold;
}


.x-axis {
  color: white;
  font-size: 1.125rem;
}

.x-axis-label {
  fill: white;
}

.y-axis {
  color: white;
  font-size: 1.125rem;
  font-family: "Montserrat", serif;
  font-weight: bold;
}


div .infoJeux-text-bloc-bottom {
  justify-content: initial;
  align-items: center;
  gap: 16px;
}

.infoJeux-text-bloc {
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
}

.lecteur-vid {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
  padding: 3px;
}

.lecteur-vid div {
  display: flex;
  gap: 5px;
  margin-left: auto;
  font-size: 1rem;
  flex-wrap: nowrap;
}

.fa-play {
  color: #FE721B;
}

.fa-pause {
  color: #FE721B;
}

video[poster] {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: #191919;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-brand p:first-child {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-links {
  text-align: center;
}

.footer-links button {
  background-color: #FE721B;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.footer-links button:hover {
  background-color: #ff8946;
}

.footer-copyright {
  text-align: right;
}

.footer-copyright p {
  margin: 5px 0;
  font-size: 0.9rem;
}

/* General Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  position: relative;
  color: black;
}

.modal-content h3 {
  color: #161616;
}

.modal-content h4 {
  color: #FE721B;
  margin-top: 20px;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Contributors List */
.contributors-list {
  list-style: none;
  padding: 0;
}

.contributors-list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.github-icon {
  width: 20px;
  height: 20px;
}

.github-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}


.vid-time {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.graphique2 .bar {
  cursor: pointer;
}

.volume-control, .vid-time {
  -webkit-appearance: none; 
  appearance: none; 
  height: 10px;
  background: white; 
  border-radius: 5px; 
  outline: none; 
}

.volume-control::-webkit-slider-runnable-track, 
.vid-time::-webkit-slider-runnable-track {
  background: white; 
  border-radius: 100px; 
  height: 10px; 
}

.volume-control::-webkit-slider-thumb, 
.vid-time::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  width: 20px; 
  height: 20px; 
  background-color: white; 
  border: 1px solid black;
  border-radius: 50%; 
  cursor: pointer; 
  margin-top: -5px; 
}

.volume-control::-moz-range-thumb, 
.vid-time::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.volume-control::-ms-thumb, 
.vid-time::-ms-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.critique {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-bottom: 150px;
}

.critique h2 {
  font-size: 2rem;
  margin-bottom: 0px;
}
.critique div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.critique div div {
  flex-direction: column;
  width: 45%;
  max-width: 900px;
  font-size: 1.125rem;
  line-height: 1.5;
}
.critique div img {
  width: 100%;
  border-radius: 8px;
  height: fit-content;
}

.source {
  font-size: 0.8rem;
  color: white;
}

.source a {
  color: white;
}

@media (min-width: 980px) and (max-width: 1300px) {
  .paragraphe-h2 {
    width: 470px;
    font-size: 1rem;
  }

  .section2 a {
    font-size: 1rem;
  }

  .titre2 {
    font-size: 2rem;
  }

  .vid-time {
    width: 100px;
  }

  #volume {
    width: 60px;
  }

}

@media (min-width: 1301px) and (max-width: 1500px) {
  .paragraphe-h2 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .srclogo {
    bottom: 100px;
  }

  .vid-time-text {
    font-size: 1rem;
  }

  .vid-time {
    width: 250px;
  }

}

@media (width < 1300px) {
  .svgGraphique {
    width: 1200px;
  }
}

@media (width < 1200px) {
  .svgGraphique {
    width: 1100px;
  }
}

@media (width < 1100px) {
  .svgGraphique {
    width: 1000px;
  }
}