@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
  --main-gradient : linear-gradient(90deg, hsla(23, 99%, 55%, 1) 0%, hsla(278, 64%, 43%, 1) 100%);
}

.montserrat {
    font-family: "Montserrat", serif;
    font-style: normal;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* ========================================KEY FRAME ANIMATION====================================================== */
/* Animations de la page d'accueil */
@keyframes slideInDiagonal {
  0% {
    transform: translate(-100%, -100%);
  }
}
@keyframes slideInDiagonal2 {
  0% {
    transform: translate(100%, -100%);
  }
}
@keyframes slideInimage {
  0% {
    transform: translate(0%, 100%);
  }
}

.diagonal-line {
  animation: slideInDiagonal 3s ease-out forwards;
}
.diagonal-line2 {
  animation: slideInDiagonal2 3s ease-out forwards;
}
.pathanim {
  opacity: 0;
}

/*======================================== LA PAGE D'ACCUEIL ======================================================*/
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212;
    font-family: 'montserrat', sans-serif;
}

/* Section accueil en plein écran */
.accueil {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
}

.accueil svg {
    width: 100vw;
    height: 100vh;
}

.img_trophee {
    filter: drop-shadow(0px 4px 31.1px rgba(255, 255, 255, 0.3));
    animation: slideInimage 3s ease-out forwards;
}

.accueil h1 {
    font-weight: 800;
    position: absolute;
    top: 13%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 5.5rem;
    color: white;
    text-align: center;
    margin: 0;
    z-index: 1;
    width: 100vw;
}

.accueil p {
    font-weight: 700;
    position: absolute;
    top: 68.5%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    z-index: 1;
}

.h1viz {
    background-image:var(--main-gradient);

    /* permet d'afficher le dégradé sur le texte sur les navigateur Chrome, Safari, Opera (15+), iOS, Android */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* permet d'afficher le dégradé sur le texte sur le navigateur Firefox */
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@keyframes identifier2 {
  0% {
    transform: translate(-50%, -20%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
} 
.accueil img, .accueil a {
    position: absolute;
    bottom: 10%;
    left: 50.6%;
    transform: translateX(-50%);
    animation: identifier2 0.5s infinite alternate;
  }


/*======================================== DEUXIEME SECTION ======================================================*/
.srclogo {
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: end;
  padding: 10px;
  margin-right: 20px;
  position: relative;
  bottom: 110px;
  z-index: 1;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #121212;
  }

  .text-container {
    height: 50px;
    margin-left: 50px;
  }

  .titre2 {
    margin-top: 0;
    font-size: 3rem;
    font-weight: 800;
    position: relative;
    color: white;
  }

 

  .paragraphe-h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    position: relative;
    max-width:700px;
    transition: all 0.5s ease;
  }

  .titre3 {
    font-size: 2rem;
    font-weight: bold;
  }

  .section2 a {
    position: relative;
    color: white;
    font-size: 1.25rem;
    font-weight: 800;
    transition: color 0.3s ease;
  }
  .section2 a:hover {
    color: #FE721B;
  }

  @media (min-width: 980px) and (max-width: 1300px) {
    .paragraphe-h2 {
      width: 470px;
      font-size: 1rem;
    }
    .section2 a {
      font-size: 1rem;
    }
    .titre2 {
      font-size: 2rem;
    }

  }
  @media (min-width: 1301px) and (max-width: 1500px) {
    .paragraphe-h2 {
      font-size: 1.2rem;
    }
    .srclogo {
      bottom: 100px;
    }
    
  }

  /* ============================ INFO JEUX GRAPHIQUE ========================== */
  .infoJeux {
    height: 70vh;
    display: none;
    background-color: #121212;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 10px;
  }

  .gauche {
    flex: 1;
    color: white;
    padding: 100px;
  }

  .droite {
    font-size: 1.2rem;
    flex: 1;
    color: white;
    height: 270px;
  }

  .gauche img {
    width: 550px;
    height: 270px;
    width: 100%;
    border-radius: 5px;
  }
  /* ==================================================== Graphique ===================================================  */

.graph-top {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  color: white;
  width: 90%;
  text-align: center;
  font-size: 4rem;
}

.graph-top h2 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.graph-top p {
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.winner1{
    fill: #FE721B !important;
}
.crown {
  fill: #FE721B;
  font-size: 2rem;
  font-weight: bold;
}

.infoGraphique {
    position: absolute;
    background-color: #5A5A5A;
    padding: 15px 25px;
    height: fit-content;
    border-radius: 16px;
    display: none;
    color: white;
    align-items: center;
    gap: 32px;
    width: 40%;
}

.infoGraphique div {
  width: 50%;
}
.infoGraphique div img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}




.data-name {
  font-weight: bold;
  color: #FE721B;
}

.bar {
    fill: #8F41CE ;
    transition: opacity .5s;
    border-radius: 8px;
}

.bar:hover {
    opacity: 1 !important;
}

.infoJeux {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.game-title {
  color: #FE721B;
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.infoJeux-text-bloc div{
  display: flex;
  justify-content: space-between;
}
.infoJeux-img-bloc img{
    width: 100%;
}
.infoJeux-img-bloc{
    width: 60%;
    overflow: hidden;
}

.border-img {
  height: 30px;
  width: 100%;
  background-color: #8F41CE;
  background-image: linear-gradient(90deg, hsla(23, 99%, 55%, 1) 0%, hsla(278, 64%, 43%, 1) 100%);
  position: relative;
  rotate: 45deg;
  right: 250px;
  bottom: 30px;
}
.border-img-2{
  right: 150px;
}


.svgGraphique {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 800px;
    
}

.input-bloc {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.selectYears {
    
    color: #FE721B;
    font-size: 1rem;
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 30rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.7em center / 0.8em,
      linear-gradient(to left, var(--arrow-bg) 2em, var(--select-bg) 2em);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* <option> colors */
    option {
      color: inherit;
      background-color: var(--option-bg);
      font-size: 2rem;
      transform: rotate(-20deg);
    }
  }
  

.rangeSelectValue {
  height: fit-content;
  color: #FE721B;
  font-size: 2rem;
  font-weight: bold;
}

.svgGraphique svg {
    background-color: #121212 !important;
    padding: 15px 25px;
}

.x-axis {
    color: white;
    font-size: 1.5rem;
}

.x-axis-label {
  fill: white;
}

.y-axis {
    color: white;
    font-size: 1.5rem;
    font-family: "Montserrat", serif;
    font-weight: bold;
}

div .infoJeux-text-bloc-bottom {
  justify-content: initial;
  align-items: center;
  gap: 16px;
}

.infoJeux-text-bloc {
  margin-left: 20px;
  margin-right: 20px;
  width: 30%;
}

.lecteur-vid {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.5rem;
}
.lecteur-vid div {
  margin-left: auto;
  font-size: 1rem;
}

.fa-play {
  color: #FE721B;
}

.fa-pause {
  color: #FE721B;
}

video[poster]{
  height:100%;
  width:100%;
  object-fit: cover;
  }

footer {
  margin-top: 200px;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
footer p {
  margin: 0;
  margin-bottom: 10px;
}
footer h2 {
  font-size: 2rem;
}
.footer-main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-size: 1.5rem;
 
}



.footer-part1 {
  width: 50%;
}
.footer-part2 {
  width: 50%;
}
.footer-part1 p , .footer-part2 p{
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 1rem;

}
.footer-bold {
  font-weight: bold;
}

.footer-part1 div, .footer-part2 div{
  margin-bottom: 32px;
}

.footer-part1 h3 , .footer-part2 h3{
  margin-bottom: 10px;
}


footer p:first-child{
  font-size: 2.5rem;
  font-weight: bold;
}

footer .footer-end p{
  width: fit-content;
  margin-left: auto;
  margin-right: 100px;
  font-size: 1rem;
}
footer a {
  color: white;
}

footer a:hover {
  color: #FE721B;
}